html
    head
        meta(charset='UTF-8')
        style.
            #letter_container{
                font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
                font-size:16px;
            }
            #letter_container .l-table .l-cell{
                padding:3px 20px 3px 0;
            }
            #letter_container .l-table .l-cell.b{
                font-weight:bold;
                font-size:18px;
            }
    body
        #letter_container
            .l-table(style='display:table')
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') ID польззователя:
                    .l-cell.b(style='display:table-cell') #{accountID}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Email:
                    .l-cell.b(style='display:table-cell') #{email}
            .l-table(style='display:table')
                p(style='display:table-caption; text-align:center')
                    strong
                        big Данные получателя:
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Фамилия Имя Отчество:
                    .l-cell.b(style='display:table-cell') #{FIO}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Страна:
                    .l-cell.b(style='display:table-cell') #{country}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Город:
                    .l-cell.b(style='display:table-cell') #{city}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Почтовый индекс:
                    .l-cell.b(style='display:table-cell') #{postCode}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Адрес:
                    .l-cell.b(style='display:table-cell') #{address}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Номер телефона:
                    .l-cell.b(style='display:table-cell') #{contactNum}