doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        div(style='width:100%; white-space: nowrap; background:#ffffff;', align='center')
            table(border='0', cellpadding='0', style='width:588px; border-collapse:collapse; border-spacing:0; line-height:1.2; font-family: "Arial Narrow", Arial, sans-serif; color:#765600; text-align:center;', align='center')
                tr
                    td(colspan='3', style='height:78px; background:#18485C; background-image:url(https://ghclub.net/images/_newtop.png); background-size:contain; background-position:center; background-repeat:no-repeat;')
                tr
                    td(colspan='3', style='height:65px; color:#18485C; font-size:32px;') #{title}
                tr
                    if red
                        td(colspan='3', style='height:78px; color:#ffffff; font-size:39px; background:#994136;') #{value}
                    else
                        if typeof value === 'string'
                            td(colspan='3', style='height:78px; color:#ffffff; font-size:39px; background:#3D973F;') #{value}
                        else
                            td(colspan='3', style='height:78px; color:#ffffff; font-size:39px; background:#3D973F;')
                                | #{value[0]}
                                br
                                | #{value[1]}
                                br
                                | #{value[2]}
                tr
                    td(colspan='3', style='height:118px;color:#18485C; font-size:22px;')
                        if subTitle[0]
                            | #{subTitle[0]}
                        if subTitle[1]
                            br
                            | #{subTitle[1]}
                        if subTitle[2]
                            br
                            | #{subTitle[2]}
                tr
                    td(style='height:97px;', align='right')
                        a(href='http://ghclub.ru')
                            img(src='https://ghclub.net/images/_appl.png', style='max-height: 62px')
                    td
                        a(href='http://ghclub.ru')
                            img(src='https://ghclub.net/images/_win.png', style='max-height: 62px')
                    td(align='left')
                        a(href='http://ghclub.ru')
                            img(src='https://ghclub.net/images/_andr.png', style='max-height: 62px')
                tr
                    td(colspan='3')
                        table(border='0', cellpadding='0', style='width:588px; border-collapse:collapse; background:#18485C; border-spacing:0; line-height:1.2; font-family: "Arial Narrow", Arial, sans-serif; color:#765600;text-align:center;', align='center')
                            tr
                                td(colspan='3', style='height:85px; font-size:17px; vertical-align:middle; background:#18485C; color:#ffffff;')
                                    if bottom[0]
                                        | #{bottom[0]}
                                    if bottom[1]
                                        br
                                        | #{bottom[1]}
                            tr
                                td(colspan='3', style='height:73px; background:#18485C; background-image:url(https://ghclub.net/images/_bottom.png); background-size:33px; background-position:center; background-repeat:no-repeat;')  