html
    head
        meta(charset='UTF-8')
        style.
            #letter_container{
                font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
                font-size:16px;
            }
            #letter_container .l-table .l-cell{
                padding:3px 20px 3px 0;
            }
            #letter_container .l-table .l-cell.b{
                font-weight:bold;
                font-size:18px;
            }
    body
        #letter_container
            p Текст письма
            .l-table(style='display:table')
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') ID польззователя:
                    .l-cell.b(style='display:table-cell') #{accountID}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Список рекламодателей:
                    .l-cell.b(style='display:table-cell') #{referrers}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Запрашиваемая сумма:
                    .l-cell.b(style='display:table-cell') #{money}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Последнее пополнение:
                    .l-cell.b(style='display:table-cell') #{lastPlusDate}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Истечение срока:
                    .l-cell.b(style='display:table-cell') #{endMoneyDate}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') E-mail польззователя:
                    .l-cell.b(style='display:table-cell') #{email}
            .l-table(style='display:table')
                p(style='display:table-caption; text-align:center')
                    strong
                        big Банковские данные:
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Фамилия Имя Отчество:
                    .l-cell.b(style='display:table-cell') #{FIO}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Наименование банка:
                    .l-cell.b(style='display:table-cell') #{bankName}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Корр. счет №:
                    .l-cell.b(style='display:table-cell') #{corAccount}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') Расч. счет №:
                    .l-cell.b(style='display:table-cell') #{bankAccount}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') БИК:
                    .l-cell.b(style='display:table-cell') #{BIK}
                div(style='display:table-row')
                    .l-cell(style='display:table-cell') ИНН:
                    .l-cell.b(style='display:table-cell') #{INN}