html
    head
        meta(charset='UTF-8')
        style.
            p {
                font-weight:bold
            }
            h4 {
                font-weight:normal
            }
    body
        div(style='width: 800px;')
            h4
                img(style='width:160px; height: 40px; float: left; margin-bottom: 20px; margin-right: 47px; margin-left: 20px; margin-top: 7px', src='https://ghclub.net/images/logo.png')
                | Внимание оплата данного счета означает согласие с правилами GH Club. Уведомление об оплате обязательно. В платежном получении ОБЯЗАТЕЛЬНО укажите номер/ дату данного счета и номер вашего аккаунта, в противном случае оплата не будет принята.
            p
                | Счет № #{number} от #{date} Аккаунт № #{accountID}
            table(border='2', style='width: 800px; border-collapse: collapse')
                tbody
                    tr
                        td(colspan='2', rowspan='2')
                            p ООО Грувихамстер
                            br
                            p Филиал Губернский ПАО Банка "ФК Открытие"
                        td(style='text-align: left;')
                            p БИК
                        td(rowspan='2')
                            p 046577426
                            p 30101810965770000426
                    tr
                        td
                            p Сч.№ 
                    tr
                        td
                            p ИНН 7706092528
                        td
                            p КПП 667143001
                        td(rowspan='2')
                            p Сч. № 
                        td(rowspan='2')
                            p  40702810600217006983
                    tr
                        td(colspan='2')
                            p #{groovyName}
                            p #{FIO}
            h2
                strong Счет № #{number} от #{date}
            hr
            p  Поставщик услуг: #{groovyName}
            p  Получатель услуг: #{companyName}
            table(border='2', style='width: 800px; border-collapse: collapse')
                tbody
                    tr
                        td
                            p(style='text-align: center;') №
                        td
                            p(style='text-align: center;') Наименовние услуг
                        td
                            p(style='text-align: center;') Кол-во
                        td
                            p(style='text-align: center;') Ед.
                        td
                            p(style='text-align: center;') Цена
                        td
                            p(style='text-align: center;') Сумма
                    each service, i in services
                        tr
                            td
                                p(style='text-align: center;')=i+1
                            td
                                p=service.packetName
                            td
                                p(style='text-align: right;')=service.packetValue
                            td
                                p шт
                            td
                                p(style='text-align: right;')=service.packetPrice
                            td
                                p(style='text-align: right;')=service.packetPrice
            p(style='text-align: right;') Итого: #{totalSum}
            p(style='text-align: left;') Всего наименований 1 на сумму #{totalSum} рублей.
            p(style='text-align: left;') #{stringTotalSum}
            hr
            p(style='text-align: left;')  
            p(style='text-align: left;') Руководитель _____________________ (Фамилия И.О.)
            p(style='text-align: left;') Главный бухгалтер _____________________ (Фамилия И.О.)
            p(style='text-align: left; margin-left: 20%;') М.П.
            p(style='text-align: left;') Счет действителен к оплате в течении семи дней.
