doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        div(style='width:100%; white-space: nowrap; background:#ffffff;', align='center')
            table(border='0', cellpadding='0', style='width:588px; border-collapse:collapse; border-spacing:0; line-height:1.2; font-family: "Arial Narrow", Arial, sans-serif; color:#765600; text-align:center;', align='center')
                tr
                    td(colspan='3', style='height:78px; background:#18485C; background-image:url(https://ghclub.net/images/_newtop.png); background-size:contain; background-position:center; background-repeat:no-repeat;')
                tr
                    td(colspan='3', style='height:65px; color:#18485C; font-size:32px;') Добро пожаловать в GH Club!
                tr
                    td(colspan='3', style='height:39px;color:#18485C; font-size:20px;') Аккаунт:
                tr(style='height:78px; background:#3D973F;')
                    td(colspan='3', style='color:#FFFFFF; font-size:39px;') #{accountID}
                tr
                    td(colspan = '3', style = 'height:39px;color:#18485C; font-size:20px;') Пароль:
                tr(style = 'height:78px; background:#3D973F;')
                    td(colspan='3', style = 'color:#FFFFFF; font-size:39px;') #{password}
                tr
                    td(style='height:97px;', align='right')
                        a(href='http://ghclub.ru')
                            img(src='https://ghclub.net/images/_appl.png', style='max-height: 62px')
                    td
                        a(href='http://ghclub.ru')
                            img(src='https://ghclub.net/images/_win.png', style='max-height: 62px')
                    td(align='left')
                        a(href='http://ghclub.ru')
                            img(src='https://ghclub.net/images/_andr.png', style='max-height: 62px')
                tr
                    td(colspan='3')
                        table(border='0', cellpadding='0', style='width:588px; border-collapse:collapse; background:#18485C; border-spacing:0; line-height:1.2; font-family: "Arial Narrow", Arial, sans-serif; color:#765600;text-align:center;', align='center')
                            tr
                                td(colspan='3', style='height:85px; font-size:17px; vertical-align:middle; background:#18485C; color:#ffffff;')
                                    | ВНИМАНИЕ: Номер аккаунта - является уникальным. В случае утери,
                                    br
                                    | восстановлению не подлежит. С уважением Администрация GH Club.
                            tr
                                td(colspan='3', style='height:73px; background:#18485C; background-image:url(https://ghclub.net/images/_bottom.png); background-size:33px; background-position:center; background-repeat:no-repeat;')  